body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.image-container img {
    margin: 0 10px;
}

.big-image {
    max-width: 255px;
    max-height: 255px;
}

.responsive {
    max-width: 500px;
    max-height: 400px;
}

#yes-button {
    position: absolute;
    bottom: -40px;
    left: 37%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#yes-button:hover {
    background-color: #ff1493;
}

#no-button {
    position: absolute;
    bottom: -40px;
    left: 67%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#no-button:hover {
    background-color: #f7018c;
}

.crying-image {
    max-width: 500px;
    max-height: 250px;
    position: relative;
    bottom: 0;
    left: 40%;
    transform: translateX(-130%);
    display: none;
}

.crying-text {
    position: absolute;
    color: rgb(248, 8, 236);
    font-size: 30px;
    bottom: -210px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.congrats-image {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
